<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Loggers>
        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
        <!--to remove debugging:
        1. remove spring.datasource.driver-class-name property
        2. remove jdbc:log4 prefix from spring.datasource.url
        3. remove dependencies from pom.xml
        4. delete this file
        -->