.search-block input[type="submit"] {
    /*cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 100%;
    font-size: 14px;*/
    background: url("src/assets/icon-search.png") no-repeat right 10px center;
}